{{- $scratch := newScratch }}
{{- if isset .Params "image" }}
  {{- $scratch.Set "image" .Params.image }}
{{- else }}
  {{- $scratch.Set "image" "thumbnail.svg" }}
{{- end }}
{{- $image := $scratch.Get "image" }}
{{- $bg := (path.Join "images" $image) }}
<li class = 'post_item fp'>
  <a class = 'post_card' href='{{ .Permalink }}' title = '{{ .Title }}'>
    <img src="{{ absURL $bg }}" alt="{{ .Title }} illustration" />
  </a>
  <h3 class = 'post_link'><a href='{{ .Permalink }}'>{{ .Title  }}</a></h3>
  <div class = 'excerpt'>
    <div class = 'excerpt_meta'>
      <span>
        {{- with .Params.tags -}}
        {{- range first 3 . }}
        {{- $tag := . | urlize }}
        <a href = '{{ absURL (printf "tags/%s" $tag) }}' class = 'post_tag'>
          {{- . }}
        </a>
        {{- end }}
        {{- end }}
      </span>
      {{- partial "copy" . }}
    </div>
  </div>
</li>
